# app configs
NODE_ENV=development
PORT=3000
KEEP_ALIVE_TIMEOUT=60000
HEADERS_TIMEOUT=65000
SERVER_TIMEOUT=60000
SHUT_DOWN_TIMER=5000
SHUTDOWN_RETRIES=3
SHUTDOWN_RETRY_DELAY=1000

# services
AUTH_ORIGIN_ROUTE="http://localhost:4001/"
INVOICE_ORIGIN_ROUTE="http://localhost:4002/"
ORDER_ORIGIN_ROUTE="http://localhost:4003/"

# jwt configs
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n[Base64-encoded private key]\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n[Base64-encoded public key]\n-----END PUBLIC KEY-----"
JWT_EXPIRES_IN=7d

# password configs
PASSPORT_JS_SESSION_SECRET_KEY='invoice_hub_microservices local'

# prometheus && grafana
METRICS_REQUEST_COUNT_NAME=express_server_requests_total
METRICS_REQUEST_COUNT_HELP=Total number of requests
METRICS_DURATION_NAME=express_server_duration_seconds
METRICS_DURATION_HELP=Histogram of response durations in seconds
METRICS_DURATION_BUCKETS=0.1,0.2,0.5,1,2,5
