# app configs
NODE_ENV=development
PORT=4002
KEEP_ALIVE_TIMEOUT=60000
HEADERS_TIMEOUT=65000
SERVER_TIMEOUT=60000
SHUT_DOWN_TIMER=5000
SHUTDOWN_RETRIES=3
SHUTDOWN_RETRY_DELAY=1000

# kafka configs
KAFKA_BROKER=localhost:29092

# postgres configs
POSTGRES_PASSWORD=postgres
POSTGRES_DB=invoice_service_db
DB_DEFAULT_TYPE=postgres
DB_DEFAULT_HOST=localhost
DB_DEFAULT_PORT=54322
DB_DEFAULT_USERNAME=postgres
DB_DEFAULT_PASSWORD=postgres
DB_DEFAULT_DATABASE=invoice_service_db
DB_CONNECTION=default

# jwt configs
JWT_SECRET_KEY=jwt_secret
JWT_EXPIRES_IN=7d

# password configs
PASSPORT_JS_SESSION_SECRET_KEY='invoice_hub_microservices local'
